[build]
  base = "manake-web"
  publish = "dist"
  command = "npm run build"

[functions]
  directory = "netlify/functions"
  external_node_modules = ["express", "mongoose", "stripe", "jsonwebtoken", "bcryptjs", "helmet", "cors", "dotenv", "express-validator"]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
